@font-face {
    font-family: "Volkhov";
    src: url("Fonts/Volkhov-Regular.ttf") format("truetype");
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("../img/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Volkhov", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 40px;
    text-shadow: -2px -2px white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 25px;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.all_container {
    display: flex;
    margin: 1%;
    margin-top: 200px;
    justify-content: center;
    padding: 20px;
    height: auto;
    border-radius: 50%;
    flex-wrap: wrap;
}

.item-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 420px;
    height: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px;
    gap: 10px;
    border-radius: 5%;
    background-color: #ffffff19;
    backdrop-filter: blur(10px);
}

.item-img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: flex;
    border-radius: 4px;
    justify-content: center;
}

.item-description, .item-price {
    color: #666;
}

.button-custom {
    background-color: rgba(0, 0, 0, 0.085);
    border: 1px solid #ddd;
    color: white;
}

/**********commandes***********/

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-column-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}